html{
    width: 100%;
    background-color: hsl(47, 88%, 63%);
}
.container{
  width: 25%;
    background-color: white;
    margin: 8% auto;
    border-radius: 20px;
    text-align: left;
    box-shadow: 10px 10px;
    padding: 20px;
}
.ilustration{
  vertical-align: middle;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.learning{
  
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  background-color: hsl(47, 88%, 63%);
  padding: 5px;
  width: 80px;
  border-radius: 5px;
  text-align: center    ;
}
.paragraph1{
    font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.paragraph2{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;   
 text-align: left;
  color: hsl(0, 0%, 50%);
  font-size: 16px;
}
.info{
  /*padding: 10px;*/
}

h1{
  font-size: x-large;
    font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.greg{
    font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: flex-start; 
} 
.greg img{
    width: 50px;
    margin-right: 10px;
}

@media screen and (max-width:375px){
  .container{
    width: 85%;
  }
  .ilustration{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    display: block;
  }
}